<!-- Copyright (c) 2014 Ramandeep Singh Bakshi
  
  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge this software into other softwares and/or 
  publish derivatives of the Software, and to permit persons to whom the 
  Software is furnished to do so, subject to the following conditions:
  
  - The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.
 
  - Due credit should be given to the 'Ring My Droid' app either in print or
  a link to the 'Ring My Droid' app on Google Play Store.
 
  - Due credit should be given to the developer, Ramandeep Singh Bakshi, in print
  by mentioning the complete name, as well as a link to the official 
  website 'http://www.ramandeepbakshi.com' or a link to the facebook 
  page 'https://www.facebook.com/officialrbxi'
 
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->


<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramandeepbakshi.ringmydroid"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ramandeepbakshi.ringmydroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.ramandeepbakshi.ringmydroid.IncomingSms">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        
        <activity
            android:name="com.ramandeepbakshi.ringmydroid.SMSProcessor"
            android:label="@string/app_name"
    		android:theme="@style/Invisible" 
    		android:noHistory="true" />
        
        <activity
            android:name="com.ramandeepbakshi.ringmydroid.AlarmRinger" />
        
        <activity
            android:name="com.ramandeepbakshi.ringmydroid.AboutActivity"
            android:screenOrientation="portrait" />
        
    </application>

</manifest>
